*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

nav { /* Menu do topo */
    position: fixed;
    top:0;
    width: 100%;
    height: 68px;
    z-index: 9;
    display: flex;
    align-items: center;
    background-color: #252525;
    color: white;
}

.logo{
    font-size: 28px;
    flex:1;
    margin-left: 20px;
}

.logo span i{
    color:#DE7518;
}
.options{
    display: flex;
    gap:20px;
    list-style: none;
    flex:2;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}
.user{
    flex:1;
    display: flex;
    list-style: none;
    gap:4px;
    display: flex;
    margin-right: 40px;
    justify-content: flex-end;
}

.container{ /* Cor do fundo da pagina geral */
    background: linear-gradient(to right, #f4f1de 0%, #f4f1de 100%) ;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 998px) {
    .wrapper{
        width: 80%;
    }
    nav .options.active li{ /* Aqui mexe o menu na barra */
        opacity: 0;
        animation: items 0.5s;
        animation-fill-mode: forwards;
    }

    nav .options li:nth-child(1){
        animation-delay: 0.3s;
    }
    nav .options li:nth-child(2){
        animation-delay: 0.5s;
    }
    nav .options li:nth-child(3){
        animation-delay: 0.7s;
    }
    nav .options li:nth-child(4){
        animation-delay: 0.9s;
    }

    nav .user{
        display: none;
    }

    nav .hamburguer{
        display: flex;
    }

}


@media (max-width: 669px) {
    .wrapper{
        width: 100%;
    }

    .bottom{
        width: 90%
    }

}
@media (max-width: 441px) {
    .top span {
        display: none;
    }
    .singUp  {
       flex-direction: column-reverse;
       gap: 3px;
       align-items: center;
       top: 10px;
    }
    .singUp span{
        align-self: flex-start;
    }
    .singUp button{
        align-self: flex-end;
    }
}
/* Aqui mexe tudo na home como a imagem e o card */

section#home {
    height: calc(100vh + 80px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    width: 100%;
  }
  
  .home-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: justify;
  }
  
 
  .home-info button a{
    color: white;
  }
  
  .home-info button:hover{
    opacity: 1;
  }
  
  .home-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-img img {
    width: 400px;
    height: 500px;
    animation: float 5s ease-in-out infinite;
    border-radius: none;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }
/* CARD */
.card {
    max-width: 300px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    height: 220px;
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
  }
  
  .card-footer {
    font-size: 0.65em;
    color: #446;
  } 


  .meu-botao {
    background-color: #252525; /* Cor de fundo */
    border: none; /* Remove a borda padrão */
    color: white; /* Cor do texto */
    padding: 15px 8px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove decoração de texto */
    display: inline-block; /* Torna o botão um elemento em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border-radius: 8px; /* Borda arredondada */
  }
  .meu-botao2 {
    background-color: #DE7518; /* Cor de fundo */
    border: none; /* Remove a borda padrão */
    color: white; /* Cor do texto */
    padding: 15px 8px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove decoração de texto */
    display: inline-block; /* Torna o botão um elemento em linha */
    font-size: 16px; /* Tamanho da fonte */
    margin: 4px 2px; /* Margem externa */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    border-radius: 8px; /* Borda arredondada */
  }
  /* Box pet */
  .animal-box {
    width: 300px;
    border: 3px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .animal-box img {
    width: 100%;
  }
  
  .animal-info {
    padding: 10px;
  }
  
  .animal-info h2 {
    margin-top: 0;
  }
  
  .animal-info button {
    background-color: #DE7518;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .ong {
    width: 50;
    height: 50;
  }
 
  /* Codico social midia */
  
.center {
  display: table;
  width: 100%;
  height: 100vh;
}

#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }
  .social {
    padding-left: 0px;
  }
  li {
    color: #fff;
    list-style-type: none;
    display: inline-block;
    width: 30px;
    height: 5px;
    line-height: 20px;
    padding: 1%;
   
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 1px;
    transition: ease .3s;
    &:hover {
      color: #DE7518;
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}